#app {
  .CompilerListComponent {
    .FetchButton button {
      border-radius: 3px;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
      border: solid 2px #999;
    }

    .FetchButton button:hover {
      background-color: rgb(150, 150, 150);
    }

    .CompilerList {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .CompilerInfo {
        width: 25%;
      }
    }
  }
}
